{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-1 center">
		&nbsp;<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tasksModal">
		 View Tasks!
		</button>
	</div>
</div>
<br>
<div class="row justify-content-center">
	<div class="col-10" id="timer">
		<br>
		<h1>It's <div id="timerHeader"></div> Time!</h1>
		<div class="flipTimer" id="flipTimer1">
		</div> <!-- /flipTimer -->
	</div>
</div>

<div class="modal fade" id="tasksModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<h4>Check In Time</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<h5>Which tasks did you get done?</h5>
			<br>
			<!-- error/success message zone -->
			<div class="alert alert-danger alert-dismissable col-5 hidden" role="alert" id="update-error">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
					<span aria-hidden="true">&times;</span>
				</button>
				There was an error updating Todoist, please retry.
			</div>

			<div class="alert alert-success alert-dismissable col-5 hidden" role="alert" id="update-success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
					<span aria-hidden="true">&times;</span>
				</button>
				Successfully updated Todoist!
			</div>
			
			<div class="loading hidden" id="tasks-loading">
				<br><br> <!-- space so the loading text is over the gif -->
				<p>loading...</p>
			</div>

			<form id="todo-form" method='post'>
			
				<div id="task-items">
					{% for task in openTasks %}
					{{task | safe}}
					{% endfor %}
				</div>
				<br>
				<input type="submit" id="form-submit" value="I did that!">
				

			</form>
		</div>
    </div>
  </div>
</div>


 <script type="text/javascript">
	$(document).ready(function() {
		setFocusTimer();
	});



    $(document).on('submit','#todo-form',function(e)
	{
		e.preventDefault();
		
		//disable submit button 
		$("#form-submit").prop("diabled", true);
		
		var selectedTasks = [];
		$("input[type=checkbox]:checked").each(function(){
			selectedTasks.push($(this).val());
		});

		$.ajax({
			type:'POST',
        	url:'/',
        	data:$("#todo-form").serialize(),
        success:function(data)
        {
			if(data == "success")
			{
				$("#update-success").fadeIn(1000);
				getToDoItems();
				setBreakTimer();
			}
			else
			{
				$("#update-error").fadeIn(1000);
			}
        }
      });
    });


	function getToDoItems()
	{
		$.ajax({
			type:'GET',
        	url:'/tasks',
        	data:{},
        success:function(data)
        {
			//remove current task list, show loading icon
			$("#task-items").empty();
			$("#tasks-loading").fadeIn(2000);
			
			if(data)
			{
				$("#tasks-loading").delay(2000).slideUp(2000);
				$("#task-items").delay(7000).queue(function(n) {
					$(this).html(data);
					n();
					}).fadeIn(500);
					
				//with new items to submit, re-enable button
				$("#form-submit").delay(7000).prop("diabled", false);
			}
			else
			{
				$("#task-items").delay(7000).queue(function(n) {
				$(this).html("<p>There was an error fetching tasks, please reload</p>");
				n();
				}).fadeIn(500);
			}
        }
      })
	
	}
	
	function setFocusTimer()
	{
		createTimerBlock();
		$("#main").addClass('focus');
		$("#main").removeClass('break');
		$("#timerHeader").text("Focus");
		var now = new Date();
		var future = new Date();
		future.setMinutes(now.getMinutes()+25);
		
		//debug length
		//future.setMinutes(now.getMinutes()+1);
		
		$('.flipTimer').flipTimer({ 
			// count up or countdown
			direction: 'down', 
			date: future.toString(), 

			// callback works only with direction = "down"
			callback: function() { $("#tasksModal").modal('show'); },
			
			hours: false,
			days: false,

		});
	
	}
	
	function setBreakTimer()
	{
		createTimerBlock();
		$("#main").removeClass('focus');
		$("#main").addClass('break');
		$("#timerHeader").text("Break");

		var breakNow = new Date();
		var breakFuture = new Date();
		
		breakFuture.setMinutes(breakNow.getMinutes()+5);
		//debug length
		//breakFuture.setMinutes(breakNow.getMinutes()+1);		
		$('.flipTimer').flipTimer({ 
			// count up or countdown
			direction: 'down', 
			date: breakFuture.toString(), 

			// callback works only with direction = "down"
			callback: function() { setFocusTimer(); },
			
			hours: false,
			days: false,

		});
	}
	
	//to flip between focus and break timers, remove old timer div and make a new one
	function createTimerBlock()
	{
		$("#flipTimer1").remove();
		$("#timer").append('<div class="flipTimer" id="flipTimer1"><div class="minutes"></div>	<div class="seconds"></div></div> <!-- /flipTimer -->');
	}
	
  </script>


{% endblock %}


	
