{% extends 'base.html' %}

{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tasksModal">
 View Tasks!
</button>

<div class="modal fade" id="tasksModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<h4>Check In Time</h4>
		 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
		</div>
		 <div class="modal-body">
		 <h5>Which tasks did you get done?</h5>
	<form id="todo-form" method='post'>
	{% for task in openTasks %}
	{{task | safe}}
	{% endfor %}
	<br>
	<input type="submit" value="I did that!">
	</form>
	</div>
    </div>
  </div>
</div>


 <script type="text/javascript">
    $(document).on('submit','#todo-form',function(e)
	{
		e.preventDefault();
		
		var selectedTasks = [];
		$("input[type=checkbox]:checked").each(function(){
			selectedTasks.push($(this).val());
		});
		
		$.ajax({
			type:'POST',
        	url:'/',
        	data:{
          	todo:selectedTasks
        	},
        success:function(data)
        {
			console.log(data);
			$("#tasksModal").modal('toggle');
			if(data == "success")
			{
				$("#update-success").fadeIn(1000);
			}
			else
			{
				$("#update-error").fadeIn(1000);
			}
        }
      })
    });


	///TO-DO: add timers!! add pretty ui!! auto-open the modal when the timer ends!
  </script>


{% endblock %}


	
